
/******************* Background ********************/
	
	html { 
		background-color: #ffffff;
	}
	
	#Wrapper, #Content { 
		background-color: #ffffff;
	}
	
		
		
	
/********************** Font | Family **********************/

 	body, button, span.date_label, .timeline_items li h3 span, input[type="submit"], input[type="reset"], input[type="button"],
	input[type="text"], input[type="password"], input[type="tel"], input[type="email"], textarea, select, .offer_li .title h3 {
				font-family: "Open Sans", Arial, Tahoma, sans-serif;
		font-weight: 400;
	}
	
	#menu > ul > li > a, #header_action_button, #header_cart {
				font-family: "Open Sans Condensed", Arial, Tahoma, sans-serif;
		font-weight: 400;
	}
	
	#Subheader .title {
				font-family: "Open Sans Condensed", Arial, Tahoma, sans-serif;
		font-weight: 400;
	}
	
	h1, .text-logo #logo {
				font-family: "Open Sans Condensed", Arial, Tahoma, sans-serif;
		font-weight: 300;
	}
	
	h2 {
				font-family: "Open Sans Condensed", Arial, Tahoma, sans-serif;
		font-weight: 300;
	}
	
	h3 {
				font-family: "Open Sans Condensed", Arial, Tahoma, sans-serif;
		font-weight: 300;
	}
	
	h4 {
				font-family: "Open Sans Condensed", Arial, Tahoma, sans-serif;
		font-weight: 300;
	}
	
	h5 {
				font-family: "Open Sans Condensed", Arial, Tahoma, sans-serif;
		font-weight: 700;
	}
	
	h6 {
				font-family: "Open Sans Condensed", Arial, Tahoma, sans-serif;
		font-weight: 400;
	}
	
	blockquote {
				font-family: "Open Sans Condensed", Arial, Tahoma, sans-serif;
	}


/********************** Font | Size **********************/

/* Body */

	body {
		font-size: 16px;
				line-height: 24px;		
	}
	
	#menu > ul > li > a {	
		font-size: 16px;
	}
	
/* Headings */

	h1, #Subheader .title, .text-logo #logo { 
		font-size: 34px;
				line-height: 34px;
	}
	
	h2 { 
		font-size: 32px;
				line-height: 32px;
	}
	
	h3 {
		font-size: 30px;
				line-height: 32px;
	}
	
	h4 {
		font-size: 28px;
				line-height: 32px;
	}
	
	h5 {
		font-size: 19px;
				line-height: 24px;
	}
	
	h6 {
		font-size: 17px;
				line-height: 24px;
	}

	
/********************** Sidebar | Width **********************/
	
	
	.with_aside .sidebar.columns {
		width: 23%;	
	}
	.with_aside .sections_group {
		width: 75%;	
	}
	
	.aside_both .sidebar.columns {
		width: 18%;	
	}
	.aside_both .sidebar-1{ 
		margin-left: -79%;
	}
	.aside_both .sections_group {
		width: 60%;	
		margin-left: 20%;	
	}	
